.intro{
    padding-top: 30px;
    padding-bottom: 50px;
    width: 100%;
    background-color: aquamarine;
    text-align: center;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

h3{
    margin-top: 15x;
    margin-bottom: 20px;
}

.prestasi{
    padding-top: 30px;
    padding-bottom: 50px;
    width: 100%;
    background-color: bisque;
    text-align: center;
}

.box{
    margin: 10px;
    background-color: aquamarine;
}

.guru{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    background-color: bisque;
    text-align: center;
}

.staff{
    padding-top: 15px;
    padding-bottom: 30px;
    width: 100%;
    background-color: bisque;
    text-align: center;
}