.intro{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: aquamarine;
    text-align: center;
}

h2{
    margin-top: 50px;
    margin-bottom: 20px;
}

.prestasi{
    width: 100%;
    background-color: bisque;
    text-align: center;
}

.guru{
    width: 100%;
    background-color: bisque;
    
}