.intro{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: aquamarine;
    text-align: center;
}

h2{
    margin-top: 50px;
    margin-bottom: 20px;
}

.prestasi{
    width: 100%;
    background-color: bisque;
    text-align: center;
}

.box1{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 1200px;
    background-color: red;
    float: left;
}

.box2{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    margin-right: 1200px;
    background-color: red;
    float: left;
}

.clear{
    clear:both;
}